@font-face {
    font-family: "SegoeScript";
    src: url('../fonts/SegoeScript.woff');
    src: url('../fonts/SegoeScript.woff') format('embedded-opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: "SegoeScript.woff";
    box-sizing: border-box;
    color: #fff;
}
body{
    background: linear-gradient(90deg,rgb(49, 95, 105), rgb(44, 65, 44));
}
.cantainer {
    width: 90vw;
    margin: 0px auto;
}

.header {
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 0px 80px
}

.nav {
    position: fixed;
    mask-position: right;
    background-color: rgba(181, 208, 223, 0.604);
    
    z-index: 10;
}

.menu {
    align-items: baseline;
}

.menulia {
    min-height: 30px;
}

.menulia,
.menuli {
    overflow: hidden;
    font-size: 12px;
}

.menu a {
    text-decoration: none;
    padding: 0px 20px;
    color: #fff
}

.menu .menulia::after {
    content: '';
    width: 0%;
    height: 1px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 1.5s;
}

.menu .menulia:hover::after {
    width: 80%;
    transition: 1s;
    height: 3px;
    margin: 0px auto;
    border-radius: 20px;
}

.menu .menulia:hover.menulia a {
    transition: 2s;
    color: rgb(7, 19, 187);
}

.katta {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
}

.icon {
    position: fixed;
    top: 25px;
    right: 10%;
    z-index: 60;
}
.icon i {
    color: rgba(0, 153, 255, 0.837);
    transition: 1s;
}
.icon i:hover {
    transition: 1s;
    color: rgb(12, 247, 126);
}
/* Rasimli */

.rasimli {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../IMAGE/glavniga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.matinlar h3 {
    color: #fff;
    font-weight: 500;
}

.boyalganmatin {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    margin-top: 40px;
    padding: 10px 0;
    background-color: rgba(1, 115, 143, 0.686);
    border: 1px solid rgba(0, 203, 253, 0.611);
    border-radius: 0px 60px 0px 60px;
    transition: 1.5s;
}

.boyalganmatin:hover {
    box-shadow: 0px 0px 20px rgba(71, 202, 200, 0.788);
    border-radius: 60px 0px 60px 0px;
    border: 1px solid rgba(71, 202, 200, 0.788);
    background: linear-gradient(190deg, rgba(0, 255, 115, 0.24) , rgba(0, 166, 255, 0.24)); 
    transition: 1s;
}


/* about style  */

.about {
    width: 100%;
    height: 640px;
    padding: 40px;
    overflow: hidden;
}

.about_sarlavha {
    text-align: center;
}

.about_items {
    display: flex;
    text-align: center;
}

.about_item {
    margin: 30px 5px 5px 5px;
    padding: 0px 10px;
}

.lampa {
    width: 90px;
    margin: 20px 0px;
}

.about_item h3 {
    margin: 15px 0px;
}

.about_item {
    font-size: 18px;
}

.about_item .rangli_p {
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 55, 0.707);
    margin: 15px 50px;
    padding: 10px 30px;
    color: #fff;
    background-color: rgba(21, 137, 214, 0.404);
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}

.about_item .rangli_p:hover {
    box-shadow: 0px 0px 20px rgba(71, 202, 200, 0.788);
    border-radius: 10px;
    border: 1px solid rgba(71, 202, 200, 0.788);
    background: linear-gradient(190deg, rgba(0, 255, 115, 0.24) , rgba(0, 166, 255, 0.24)); 
    transition: 1.5s;
}

.courses {
    width: 100%;
    height: 620px;
    display: flex;
}

.courses_ong {
    width: 45%;
    height: 100%;
    background-image: url("../IMAGE/rasim1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 78% 43% 95% 35% / 93% 56% 45% 28%  ;
}

.courses_chap {
    width: 55%;
    height: 100%;
    padding: 0px 70px;
    background-color: rgba(83, 114, 100, 0.542);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chap_katta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
}

.chap_rangli_p {
    margin: 18px 0px;
    padding: 10px;
    background-color: rgba(21, 137, 214, 0.404);
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid rgba(100, 247, 132, 0.707);
    cursor: pointer;
    transition: 1s;
}

.chap_rangli_p:hover {
    box-shadow: 0px 0px 20px rgba(71, 202, 200, 0.788);
    border-radius: 10px;
    border: 1px solid rgba(71, 202, 200, 0.788);
    background: linear-gradient(190deg, rgba(0, 255, 115, 0.24) , rgba(0, 166, 255, 0.24)); 
    transition: 1.5s;
}


/* blog qismi */

.blog {
    width: 100%;
    height: 630px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.blog_jamilar {
    width: 100%;
    height: 70%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.blog_jami {
    width: 23%;
    position: relative;
    overflow: hidden;
    align-items: center;
    border-radius: 20% 20% 2% 10% / 30% 30% 10% 2%;
    background-color: rgba(33, 150, 228, 0.521);
}

.rang_j {
    color: #fff;
    background-color: rgba(58, 102, 184, 0.486);
}
.rang_a {
    background-color: rgba(136, 156, 223, 0.486);
}


.rang_k {
    color: #fff;
    background-color: rgba(98, 53, 143, 0.645);
}

.blog_jami h3,
h5 {
    margin: 14px 2px 0px 2px;
}

.blog_jami img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: 1.5s;
}

.blog_jami img:hover {
    transition: 1s;
    overflow: hidden;
    transform: scale(1.1);
}

.blog_btn button {
    margin: 18px 0px;
    padding: 10px;
    color: #fff;
    background-color: rgba(21, 137, 214, 0.404);
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid rgba(100, 247, 132, 0.707);
    cursor: pointer;
    transition: 1.5s;
}

.blog_btn button:hover {
    box-shadow: 0px 0px 20px rgba(71, 202, 200, 0.788);
    border-radius: 10px;
    border: 1px solid rgba(71, 202, 200, 0.788);
    background: linear-gradient(190deg, rgba(0, 255, 115, 0.24) , rgba(0, 166, 255, 0.24)); 
    transition: 1.5s;
}


/* /blog qismi */


/* SHOP QISMI */

.shop {
    width: 100%;
    height: 620px;
    display: flex;
}

.shop__chap {
    width: 50%;
    height: 100%;
    background-image: url("../IMAGE/rasimli5.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100% 56% 100% 72% / 78% 95% 79% 85%  ;
}

.shop_ong {
    width: 50%;
    height: 100%;
    padding: 0px 70px;
    background-color: rgba(41, 40, 36, 0.534);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ong__katta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
}

.ong__katta p {
    margin: 10px 0px;
}

#email {
    padding: 10px;
    width: 250px;
    outline: none;
    border: 1px solid white;
}

.ong_btn {
    margin: 18px 0px;
    padding: 10px;
    color: #fff;
    background-color: rgba(21, 137, 214, 0.404);
    text-transform: uppercase;
    border: 1px solid rgba(129, 125, 119, 0.515);
    cursor: pointer;
    transition: 1s;
}

.ong_btn:hover {
    transition: 1s steps(0.5s);
    transform:translate(10px);

    box-shadow: 0px 0px 20px rgba(71, 202, 200, 0.788);
    border-radius: 10px;
    border: 1px solid rgba(71, 202, 200, 0.788);
    background: linear-gradient(190deg, rgba(0, 255, 115, 0.24) , rgba(0, 166, 255, 0.24)); 
    
}


/* /SHOP QISMI */


/* CONTACT QISMI */

.contact {
    width: 100%;
    height: 300px;
    background-color: rgba(119, 118, 111, 0.426);
    text-align: center;
    padding: 70px;
}

.contact_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 50%;
    height: 90%;
 }

.contact_items h3 {
    color: #fff;
    font-size: 25px;
}

.contact_menu {
    margin: 20px 0;
    display: flex;
}

.contact_menu p {
    color: #fff;
    margin: 0 5px;
}

.icons i {
    margin: 10px 5px;
    color: #fff;
    padding: 5px;
    border-radius: 40%;
    font-size: 20px;
    transition: 1s ease;
}

.telegram:hover {
    transition: 1s;
    transform: scale(1.5);
    color: rgba(5, 172, 223, 0.974);
    background: linear-gradient(290deg, rgb(145, 197, 209), rgb(197, 209, 197)); 
}

.instagram:hover{
    transition: 1s;
    transform: scale(1.5);
    color: rgba(255, 132, 0, 0.898);
    background: linear-gradient(290deg, rgb(145, 197, 209), rgb(166, 194, 166));
}

.youtube:hover {
    transition: 1s;
    transform: scale(1.5);
    color: rgba(255, 0, 0, 0.898);
    background: linear-gradient(290deg, rgb(209, 194, 145), rgb(190, 226, 91));
}
.facebook:hover {
    transition: 1s;
    transform: scale(1.5);
    color: rgba(0, 72, 255, 0.987);
    background: linear-gradient(290deg, rgb(145, 209, 156), rgb(211, 214, 203));
}
.reddit:hover {
    transition: 1s;
    transform: scale(1.5);
    color: rgba(255, 166, 0, 0.987);
    background: linear-gradient(290deg, rgb(201, 221, 224), rgb(224, 243, 209));
}

.contact_p {
    margin: 10px 0;
    color: #fff;
}
/* /CONTACT QISMI */